{% load static %}
<div>
    <img class="navbar_img" src="{{ request.user.profile.avatar.url }}">
    <div class="auth_nicksetlog">
        <span class="nav_nickname">{{ user.username }}</span>
        <a href="{% url 'settings' %}">Settings</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>