{% load static %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <title>AskDudnik</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="{% static "css/my.css" %}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

{%  include "include/navbar.html" %}

    <!-- Begin page content -->
    <main class="flex-shrink-0 main">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    {% block new_hot %}
                    {% endblock new_hot %}
                    {% block content %}
                    {% endblock content %}
                    {% block pagination %}
                    {% endblock pagination %}
                    {% block type_answer %}
                    {% endblock type_answer %}
                </div>
                <div class="col-4">
                    {% include "include/tags.html" %}
                    {% include "include/best_members.html" %}
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <h6 class="text-center">Max Dudnik 2021®</h6>
    </footer>
        <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static 'js/jquery.min.js'%}"></script>
{#        <script src="{% static 'js/popper.min.js'%}"></script>#}
        <script src="{% static 'js/csrf.js'%}"></script>
{#        <script src="{% static 'js/bootstrap.min.js'%}"></script>#}
        {% block jscode %}
        {% endblock jscode %}

</body>

</html>