    <header>
        <nav class="navbar navbar-expand-md navbar-black fixed-top" style="background-color: #ffcd39">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'main' %}">
                    <h1>AskDudnik</h1>
                </a>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-danger" type="submit">Search</button>
                </form>
                <a href="{% url 'ask' %}">
                    <button class="btn btn-danger" type="submit">ASK!</button>
                </a>
                {% if authorizated %}
                    {% include "include/auth_block.html" %}
                {% else %}
                    {% include "include/noauth_block.html" %}
                {% endif %}
            </div>
        </nav>
    </header>