{% load static %}
<div class="row one_question border-bottom border-3 border-dark">
        <div class="col-3">
            <img src="{{ question.user_id.avatar.url }}" class="author_img_one_q">
            <div class="rating">
                <button type="button" class="js-vote" data-action="dislike" data-id="{{ question.id }}"
                        data-class="question"><img src="{% static "img/dislike.png" %}" class="like_img">
                </button>
                <div class="like"></div>
                <span id="question-{{ question.id }}">
                    {{ question.rating }}
                </span>
                <button type="button" class="js-vote" data-action="like" data-id="{{ question.id }}"
                        data-class="question"><img src="{% static "img/like.png" %}" class="like_img">
                </button>
            </div>
        </div>
        <div class="col-9 for_qblock">
            <div class="question_block">
                <h2>
                    <a href="{% url "one_question" question_id=question.id %}">
                        {{question.title}}
                    </a>
                </h2>
                <p>
                    {{question.text}}
                </p>
            </div>
                <span class="answer_tag_block">
                    Tags:
                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}</a>
                    {% endfor %}
                </span>
        </div>
</div>
