{% load static %}
<div class="row many_questions">
        <div class="col-3 d-flex flex-column align-items-center">
            <img class="author_img_one_a" src="{{ answer.user_id.avatar.url }}">
            <div class="rating">
                <button type="button" class="js-vote" data-action="dislike" data-id="{{ answer.id }}"
                        data-class="answer"><img src="{% static "img/dislike.png" %}" class="like_img">
                </button>
                <div class="like"></div>
                <span id="answer-{{ answer.id }}">
                    {{ answer.rating }}
                </span>
                <button type="button" class="js-vote" data-action="like" data-id="{{ answer.id }}"
                        data-class="answer"><img src="{% static "img/like.png" %}" class="like_img">
                </button>
            </div>
        </div>
        <div class="col-9 for_qblock">
            <div class="answer_block">
                <p>
                    {{answer.text}}
                </p>
                {% if answer.question_id.user_id.id == request.user.profile.id %}
                    {% if answer.is_correct == True %}
                        <input class="js-correct" type="checkbox" id="answer-check-{{ answer.id }}"
                               data-id="{{ answer.id }}" checked>
                    {% else %}
                        <input class="js-correct" type="checkbox" id="answer-check-{{ answer.id }}"
                               data-id="{{ answer.id }}">
                    {% endif %}
                {% else %}
                    {% if answer.is_correct == True %}
                        <input class="js-correct" type="checkbox" id="answer-check-{{ answer.id }}"
                               data-id="{{ answer.id }}" checked disabled>
                    {% else %}
                        <input class="js-correct" type="checkbox" id="answer-check-{{ answer.id }}"
                               data-id="{{ answer.id }}" disabled>
                    {% endif %}
                {% endif %}
                <label for="answer-check-{{ answer.id }}">Correct!</label>
            </div>
        </div>
</div>