<nav aria-label="Page pagination" class="d-flex align-self-md-center justify-content-center">
  <ul class="pagination">
      {% for str in page_range %}
        {% if str == page_obj.paginator.ELLIPSIS %}
            {% if forloop.counter == 2 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ prev_pp }}">
                    {{ str }}
                    </a>
                </li>
            {% endif %}
            {% if forloop.revcounter == 2 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ next_pp }}">
                    {{ str }}
                    </a>
                </li>
            {% endif %}
        {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ str }}">
                    {{ str }}
                </a>
            </li>
        {% endif %}
      {% endfor %}
  </ul>
</nav>