{% load static %}
<div class="row many_questions">
        <div class="col-2">
            <img src="{{ question.user_id.avatar.url }}" class="author_img_many_q">
            <div class="rating">
                <button type="button" class="js-vote" data-action="dislike" data-id="{{ question.id }}"
                        data-class="question">
                    <img src="{% static "img/dislike.png" %}" class="like_img">
                </button>
                <span id="question-{{ question.id }}">
                    {{ question.rating }}
                </span>
                <button type="button" class="js-vote" data-action="like"
                        data-id="{{ question.id }}" data-class="question">
                    <img src="{% static "img/like.png" %}" class="like_img">
                </button>
            </div>
        </div>
        <div class="col-10 for_qblock">
            <div class="question_block">
                <h2>
                    <a href="{% url "one_question" question_id=question.id %}">
                        {{question.title}}
                    </a>
                </h2>
                <p>
                    {{question.text}}
                </p>
            </div>
            <div class="answer_tag_block">
                <span>Answers:</span>
                <a href="{% url 'one_question' question_id=question.id %}" class="amount_href_answers">
                    {{ question.num_answers }}
                </a>
                <span class="tags_href">Tags:
                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}</a>
                    {% endfor %}
                </span>
            </div>
        </div>
</div>