main > .container {
    padding: 80px 15px 0;
    margin-top: 20px;
}

.main {
    min-height: 96%;
}

.author_img_many_q {
    width: 100%;
    height: 110px;
    object-fit: fill;
    border-radius: 10px;
}

.author_img_one_q {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 10px;
}

.many_questions {
    border: 1px gray solid;
    margin-top: 20px;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

.one_question {
    margin-top: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.rating {
    text-align: center;
    margin-top: 8px;
}

.rating > * {
    display: inline;
    margin: 2px;
}

.like_img {
    max-height: 10px;
    max-width: 10px;
    object-fit: contain;
}

.tags_href {
    margin-left: 30px;
}

.answer_tag_block {
    position: absolute;
    bottom: 0;
}

.answer_block {
    word-wrap: break-word;
}

.for_qblock {
    position: relative;
}

.navbar a {
    color: white;
}

.navbar_img {
    vertical-align: bottom;
    width: 50px;
    height: 50px;
    object-fit: fill;
    border-radius: 3px;
    margin-right: 10px;
}

.auth_nicksetlog {
    display: inline-block;
}

.nav_nickname {
    display: block;
    margin-left: 5px;
}

.login, .register {
    margin-right: 10px;
}

.active_questions_page {
    border-bottom: black 5px solid;
}

.unactive_questions_page {
    margin-left: 50px;
}

.tags {
    margin-top: 20px;
    text-align: left;
    width: 250px;
    margin-left: 100px;
    text-decoration:none;
}

.tags a:nth-child(2n) {
    color: orange;
}

.tags a:nth-child(3n) {
    color: red;
}

.tags a:nth-child(4n) {
    color: darkblue;
}

.tags a {
    font-size: 25px;
}

.members {
    font-size: 25px;
    text-align: left;
    width: 294px;
    margin-left: 97px;
    margin-bottom: 30px;
    display: grid;
}

.members span:nth-child(2n) {
    color: orange;
}

.members span:nth-child(3n) {
    color: red;
}

.members span:nth-child(4n) {
    color: darkblue;
}

.footer {
    flex:0 0 auto;
    background-color: #ffcd39;
}

.footer h6 {
    color: white;
}

.author_img_one_a {
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 10px;
}

.ask_input {
    width: 90%;
}

.form-group:nth-child(2n+1) {
    margin-top: 20px;
}

.form-group:nth-child(4) {
    margin-top: 20px;
}

.reg-but {
    margin-bottom: 20px;
}

textarea.form-control {
    max-height: 164px;
}