{% extends "include/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div>
        <h1>New Question</h1>
        <br>
        <div>
            <form method="POST" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>
            {% buttons %}
                <button type="submit" class="btn btn-warning float-end btn-lg reg-but">ASK</button>
            {% endbuttons %}
        </form>
        </div>
    </div>
{% endblock content %}