{% extends "include/base.html" %}
{% load static %}

{% block new_hot %}
    <h1 class="active_questions_page d-inline">Hot Questions</h1>
    <a href="{% url 'main' %}">
        <h4 class="unactive_questions_page d-inline">New Questions</h4>
    </a>
{% endblock new_hot %}
{% block content %}
    {% for question in questions %}
        {% include "include/question.html" %}
    {% endfor %}
{% endblock content %}
{% block pagination %}
    {% with page_obj=questions %}
        {% include "include/pagination.html" %}
    {% endwith %}
{% endblock pagination %}

{% block jscode %}
    <script src="{% static 'js/vote.js' %}"></script>
{% endblock jscode %}
