{% extends "include/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div>
        <h1>Log In</h1>
        <br>
        <form method="POST" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>
            {% buttons %}
                <button type="submit" class="btn btn-warning float-end btn-lg">Log in</button>
            {% endbuttons %}
        </form>
        <a href="{% url 'register' %}">Create new account</a>
    </div>
{% endblock content %}