{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    {% include "include/one_question.html" %}
    {% include  "include/answers.html" %}
{% endblock content %}
{% block pagination %}
    {% with page_obj=answers %}
        {% include "include/pagination.html" %}
    {% endwith %}
{% endblock pagination %}
{% block type_answer %}
    <div class="answers position-relative">
        <form method="POST" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>
            {% buttons %}
                <button type="submit" class="btn btn-warning float-end btn-lg reg-but">Answer</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock type_answer %}

{% block jscode %}
    <script src="{% static 'js/vote.js' %}"></script>
    <script src="{% static 'js/correct.js' %}"></script>
{% endblock jscode %}


