{% extends "include/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h1>Registration</h1>
    <div>
        <br>
        <div>
            <form method="POST" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>
            {% buttons %}
                <button type="submit" class="btn btn-warning float-end btn-lg reg-but">Register</button>
            {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock content %}