{% extends "include/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h1>Settings: {{ user.username }}</h1>
    <div>
        <br>
        <form method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>
            {% buttons %}
                <button type="submit" class="btn btn-warning float-end btn-lg reg-but">Save</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock content %}